
/* 
  Footer
*/

.footer-container {
  display: block;
  position: relative;
  height: 5vh;
  bottom: 0;
  width: 100%;
  background-color: #222;
}
  .footer-wrapper{
    position: relative;
    width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .footer-item {
    display: block;
    position: absolute;
    height: 20px;
    top: calc(50% - 20px/2);
    font-size: 14px;
    font-family: "Tahoma";
    text-align: center;
    color: #777;
    text-decoration: none;
    cursor: pointer;
  }
  .footer-info {
    left: 40px;
  }
  .github-img {
    position: absolute;
    right: 57px;
    width: 30px;
    height: 30px;
    top: calc(50% - 30px/2);
  }
  .footer-link {
    right: 0;
    width: 60px;
  }
  .footer-year {
    left: calc(50% - 46px/2);
    width: 46px;
  }
  #Layer_1 {
    display: block;
    position: absolute;
    top: calc(50% - 30px/2);
    left: 0;
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 5px;
  }

  @media only screen and (max-width: 600px) {
    .footer-wrapper {
      max-width: 500px;
    }
  }

  @media only screen and (max-width: 500px) {
    .footer-wrapper {
      width: 100%;
    }
  }