body{
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    display: block;
    width: 1920px;
    height: 908px;
    top: 0;
    /* background-color: #211F20; */
    background: url(../../assets/icons/noise_lines_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
    .header-wrapper {
        display: block;
        position: relative;
        top: 60px;
        /* margin: 0 auto; */
        width: 1200px;
        height: 80px;
        left: 360px;
    }
        .header-logo {
            display: flex;
            flex-direction: column;
            width: 187px;
            height: 60px;
            left: 0px;  
            top: 0px;
        }
            .header-logo-title {
                font-family: Georgia;
                font-size: 32px;
                letter-spacing: 0.0599em;
                line-height: 36px;
                color: #F1CDB3;
                font-weight: 400;
            }
            .header-logo-subtitle{
                position: relative;
                width: 182px;
                height: 15px;
                left: 4px;
                top: 9px;
                letter-spacing: 0.1em;
                font-family: Arial;
                font-weight: normal;
                font-size: 13px;
                color: #FFFFFF;
            }
            
            .header-menu{
                position: absolute;
                width: 443px;
                height: 27px;
                left: 757px;
                top: 16px;
            }
            .header-menu-list{
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                margin-top: 3px;
            }
                .header-menu-list li {
                    list-style-type: none;
                }
                .header-menu-list li a{
                    color: #CDCDCD;
                    text-decoration: none;
                    font-family: Arial;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    letter-spacing: 0em;
                    padding-bottom: 4px;
                }
                .header-menu-list li a.header-menu-list-item-active{
                    color: #F6F6F6;
                    font-weight: 400;
                    border-bottom: 3px solid #F1CDB3;
                }
    .not-only-wrapper{
        display: block;
        position: relative;
        width: 460px;
        height: 321px;
        left: 360px;
        top: 180px;
    }
    .not-only-content-title{
        position: relative;
        width: 310px;
        height: 114px;
        left: 0;
        top: 83.5px;
        margin: 0;
        padding: 0;
        
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 130%;
        
        color: #FFFFFF;
    }
    .not-only-content{
        position: relative;
        width: 460px;
        height: 72px;
        left: 0;
        top: 124.8px;
        margin: 0;
        padding: 0;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;

        color: #CDCDCD;
    }
    .not-only-button{
        text-align: center;
        text-decoration: none;
        position: relative;
        width: 207px;
        height: 52px;
        left: 0;
        top: 166px;
        margin: 0;
        border: none;
        

        background: #F1CDB3;
        border-radius: 100px;
        color: #292929;


        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 130%;
        /* identical to box height, or 22px */

        letter-spacing: 0.06em;
    }
    .not-only-image{
        background-image: url('../../assets/images/start-screen-puppy.png');
        position: absolute;
        width: 698px;
        height: 728px;
        left: 862px;
        top: 180px;
    }



main {
    position: relative;
    display: block;
    width: 1920px;
    top: 0;
}




.about-container{
    position: relative;
    display: block;
    width: 1920px;
    height: 588px;
    top: 0;
}
    .about-wrapper{
        position: relative;
        width: 1200px;
        left: 360px;
        top: 80px;
        height: 430px;
    }
        .about-content-image{
            position: relative;
            width: 300px;
            height: 408px;
            left: 175px;
            top: 0px;
            background: url('../../assets/images/about-pets.png');
        }
        .about-content{
            position: absolute;
            width: 430px;
            height: 380px;
            right: 175px;
            top: 0;
        }
            .about-content-title{
                position: relative;
                top: 15px;
                color: #545454;
                font-family: Georgia;
                font-weight: 400;
                font-size: 35px;
                letter-spacing: 0.0583em;
                line-height: 45.5px;
                margin: 0;
                padding: 0;
                width: 370px;
            }
            .about-content-text{
                position: relative;
                top: 39px;
                color: #4C4C4C;
                font-family: Arial;
                font-weight: normal;
                font-size: 15px;
                letter-spacing: 0em;
                line-height: 160%;
                margin: 0;
                margin-bottom: 25px;
                padding: 0;
                width: 430px;
            }






.our-friends-container{
    position: relative;
    display: block;
    width: 1920px;
    height: 877px;
    top: 0;
    background-color: #F6F6F6;
    /* background-color: #aaa; */
}
    .our-friends-wrapper{
        position: relative;
        display: block;
        width: 1200px;
        left: 360px;
        top: 80px;
        height: 697px;
        /* background-color: #bbb; */
    }
        .our-friends-title{
            position: relative;
            width: 400px;
            height: 90px;
            left: 401px;
            top: 1px;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            margin: 0;
            padding: 0;
            text-indent: 59px;
            letter-spacing: 0.06em;
            word-spacing: 0em;
            color: #545454;
        }
        .our-friends-slider-nav-left{
            position: relative;
 
        }
        .our-friends-slider-nav-right{
            position: relative;

        }
        .our-friends-slider-card{
            position: relative;
            display: inline-block;

            width: 270px;
            height: 435px;
            background: #FAFAFA;
            /* background: #aaa; */
            top: 60px;
            border-radius: 9px;
        }
        .our-friends-slider-card:hover{
            transition: all 0.2s;
            background-color: #FFFFFF;
            cursor: pointer;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        }
        .our-friends-slider-card.our-friends-slider-card-first{
            left: 105px;
        }
        .our-friends-slider-card.our-friends-slider-card-second{
            left: 191px;
        }
        .our-friends-slider-card.our-friends-slider-card-third{
            left: 277px;
        }
            .our-friends-slider-card-image{
                position: relative;
                top: 30px;
                left: 35px;
                width: 200px;
                height: 240px;
                margin: 0;
                padding: 0;
            }
            .card-image-first{
                background: url('../../assets/images/our-friends-card-photo-catrine.png');
            }
            .card-image-second{
                background: url('../../assets/images/our-friends-card-photo-jennifer.png');
            }
            .card-image-third{
                background: url('../../assets/images/our-friends-card-photo-woody.png');
            }
            .our-friends-slider-card-title{
                position: relative;
                display: block;
                top: 60px;
                left: 98px;
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.06em;
                color: #545454;
            }
                .our-friends-slider-card-title.nxt{
                    left: 94px;
                }
                .our-friends-slider-card-title.nxt3{
                    left: 101px;
                }
            .our-friends-slider-card-button{
                position: relative;
                left: 41.5px;
                top: 90px;
                width: 186px;
                height: 52px;
                /* color-primary */
                border: 2px solid #F1CDB3;
                box-sizing: border-box;
                border-radius: 100px;
                color: #292929;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 400;
                font-size: 17px;
                letter-spacing: 0.06em;
                padding-top: 14px;
                text-align: center;
            }

            .our-friends-slider-button{
                display: block;
                position: absolute;
                bottom: 0px;
                left: 470px;
                width: 261px;
                height: 52px;
                border-radius: 100px;
                background-color: #F1CDB3;
                font-family: Georgia;
                color: #292929;
                text-align: center;
                letter-spacing: 0.093em;
                line-height: 3.4em;
            }













.help-container{
    position: relative;
    display: block;
    width: 1920px;
    height: 611px;
    top: 0;
}
    .help-wrapper{
        position: relative;
        display: block;
        width: 1200px;
        left: 360px;
        right: 360px;
        top: 80px;
        height: 431px;



        /* background-color: #bbb; */
    }
        .help-title{
            padding: 0;
            margin: 0;

            position: relative;
            width: 310px;
            height: 90px;
            left: 446px;
            top: 0px;
        
            /* h3 */
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 133%;
            text-align: center;
            letter-spacing: 0.0567em;

            /* color-dark-l */
            color: #545454;    
        }
        .help-content{
            position: relative;
            width: 1026px;
            height: 281px;
            left: 87px;
            top: 60px;
            /* display: flex;
            justify-content: center;
            flex-wrap: wrap; */
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-row-gap: 3em;
            
            /* align-content: space-between; */
            justify-content: center;
            
            
            
            /* background-color: #ccc; */
        }
        .help-content-card{
            /* align-self: center; */
            justify-self: center;
                /* display: inline-block; */
                /* position: relative; */
                /* width: 82px; */
                height: 113px;
                /* left: 87px; */
                top: 0;


                /* background-color: #ddd; */
            }
                .help-content-card-icon{
                    position: relative;
                    width: 60px;
                    height: 60px;
                    top: 0;
                    margin: 0 auto;



                    /* background-color: #eee; */
                }
                .help-icon-1{
                    background: url('../../assets/icons/icon-pet-food.svg');
                }
                .help-icon-2{
                    background: url('../../assets/icons/icon-transportation.svg');
                }
                .help-icon-3{
                    background: url('../../assets/icons/icon-toys.svg');
                }
                .help-icon-4{
                    background: url('../../assets/icons/icon-bowls-and-cups.svg');
                }
                .help-icon-5{
                    background: url('../../assets/icons/icon-shampoos.svg');
                }
                .help-icon-6{
                    background: url('../../assets/icons/icon-vitamins.svg');
                }
                .help-icon-7{
                    background: url('../../assets/icons/icon-medicines.svg');
                }
                .help-icon-8{
                    background: url('../../assets/icons/icon-collars-leashes.svg');
                }
                .help-icon-9{
                    background: url('../../assets/icons/icon-sleeping-area.svg');
                }
                .help-content-card-title{                                        
                    font-family: Georgia;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 4.2em;
                    padding: 0;
                    margin: 0;

                    text-align: center;
                    letter-spacing: 0.06em;

                    /* color-dark-l */
                    color: #545454;
                }





.in-addition-container{
    position: relative;
    display: block;
    width: 1920px;
    height: 464px;
    top: 0;
    background-color: #F6F6F6;
}

    .in-addition-wrapper{
        position: relative;
        display: block;
        width: 1200px;
        height: 284px;
        left: 360px;
        /* right: 360px; */
        top: 80px;

        /* background-color: #bbb; */
    }

        .in-addition-image{
            display: inline-block;
            position: relative;
            width: 505px;
            height: 261px;
            left: 142px;
            top: 12px;
            
            background: url(../../assets/images/donation-dog.png);
            
            /* background-color: #aaa; */
        }
        .in-addition-content{
            display: inline-block;
            position: relative;
            width: 380px;
            height: 282px;
            left: 168px;
            top: 1px;
            vertical-align: top;



            /* background-color: #aaa; */
        }
            .in-addition-title{
                margin: 0;
                padding: 0;

                position: relative;
                width: 300px;
                height: 90px;
                left: 0;
                top: 1px;
                
                /* h3 */
                
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 35px;
                line-height: 1.3em;
                letter-spacing: 0.0599999em;
                

                
                /* color-dark-l */
                
                color: #545454;
            }

            .in-addition-add-info{
                display: block;
                position: relative;
                width: 308px;
                height: 17px;
                left: 0;
                top: 20px;
                
                /* h5 */
                
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 1.2em;                

                letter-spacing: 0.059em;
                
                /* color-dark-l */
                
                color: #545454;
            }

            .in-addition-credit-card{
                display: block;
                position: relative;
                width: 349px;
                height: 43px;
                left: 0;
                top: 40px;

                /* color-primary */

                background: #F1CDB3;
                border-radius: 9px;
            }
                .in-addition-credit-card-icon{
                    background: url('../../assets/icons/credit-card.png');
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    height: 23px;
                    left: 15px;
                    top: 10px;
                    vertical-align: top;

                    /* color-dark-3xl */

                    /* background: #292929; */
                }
                .in-addition-credit-card-num{
                    display: inline-block;
                    position: relative;
                    width: 275px;
                    height: 23px;
                    left: 26px;
                    top: 10px;
                    vertical-align: top;
                    /* h4 */

                    font-family: Georgia;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 115%;

                    letter-spacing: 0.06em;
                    margin: 0;
                    padding: 0;

                    /* color-dark-l */

                    color: #545454;
                }

            .in-addition-text{
                position: relative;
                width: 380px;
                height: 72px;
                left: 0;
                top: 60px;

                /* donation-description */

                font-family: Arial;
                font-style: italic;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;

                /* color-dark-m */

                color: #B2B2B2;
            }



footer{
    position: relative;
    display: block;
    width: 1920px;
    height: 355px;
    top: 0;
    background-color: #1A1A1C;
    background: url(../../assets/icons/noise_lines_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}


    .footer-wrapper{
        position: relative;
        display: block;
        width: 1200px;
        height: 315px;
        left: 360px;
        /* right: 360px; */
        top: 40px;

        /* background-color: #bbb; */
    }
        .footer{
            display: inline-block;
            position: relative;
            vertical-align: top;
            width: 278px;
            height: 234px;
            top: 22px;
        }
        .footer-title{
            /* Title */
            position: relative;
            width: 280px;
            height: 90px;
            left: 0;
            top: 0;

            /* h3 */

            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            /* or 45px */

            letter-spacing: 0.06em;

            /* color-light-xl */

            color: #FFFFFF;
        }
        .footer-info{
            display: inline-block;
            position: relative;
            width: 260px;
            height: 63px;
            /* left: 360px; */
            top: 36px;
        }
        .email-link,
        .phone-link{
            left: 16px;
            vertical-align: top;
            top: 8px;
        }




        .footer-2{
            left: 157px;
            width: 302px;
        }
        .location{
            width: 302px;
        }

        .footer-2 .footer-info{
            width: 302px;
            top: 32px;
        }
        .footer .phone{
            top: 45px;
        }
        .footer .location2{
            top: 42px;
        }
        .location-link{
            top: 0px;
            left: 15px;
            width: 260px;
        }
        .location2 .location-link{
            top: 11px;
        }
        .footer-info .icon{
            display: inline-block;
            position: relative;
            height: 32px;
        }
        .footer-info .email-icon{
            width: 40px;
            background: url('../../assets/icons/icon-email.png');
        }
        .footer-info .phone-icon{
            width: 40px;
            background: url('../../assets/icons/phone.png');
        }
        .footer-info .loc-icon{
            width: 22px;
            top: 4px;
            left: -1px; /*fix*/
            background: url('../../assets/icons/icon-marker.png');
        }
        .footer-info .fix{
            top: 3px;
        }

        .footer-info .info{
            display: inline-block;
            position: relative;
            /* width: 260px; */
            height: 63px;
            vertical-align: middle;
            /* left: 420px; */
            /* top: 3644px; */

            /* h4 */

            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 115%;
            /* identical to box height, or 23px */

            letter-spacing: 0.06em;

            /* color-primary */

            color: #F1CDB3;
        }



    .footer-img{
        display: inline-block;
        position: relative;
        vertical-align: top;
        background: url('../../assets/images/footer-puppy.png');
        width: 300px;
        height: 315px;
        left: 312px;
        top: 0px;
    }