* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}



/* 
  Header
*/

.header-container {
  display: block;
  height: 3vh;
  background-color: #aaa;
  z-index: 1;
}
.header-wrapper {
  position: relative;
  width: 600px;
  height: 100%;
  margin: 0 auto;
}
.menu-btn {
  position: absolute;
  right: 0;
  top: 4px;
  padding: 3px;
  cursor: pointer;
  transition: all .2s;
  background: #777;
  border-radius: 2px;
}
.menu-btn:hover {
  color: #fff;
}
.aside-container {
  display: none;
  position: absolute;
  top: 0;
  right: -320px;
  width: 300px;
  height: 100vh;
  background-color: #111;
  z-index: 1;
  transition: .3s all;
}
  .aside-menu-open {
    right: 0;
  }
  .aside-menu-close {
    right: -320px;
  }
  .menu-slug {
    display: block;
    color: #bbb;
    position: relative;
    top: 25px;
    left: 20px;
    height: 38px;
  }
  .level-done-sign {
    display: inline-block;
    position: relative;
    width: 19px;
    height: 10px;
    left: 6px;
    transform: rotate(-45deg) translate(0px, -5px);
  }
  .level-done {
    border-left: 2px solid #0f0;
    border-bottom: 2px solid #0f0;
  }
  .pending-to-done-level {
    border-left: 2px solid #444;
    border-bottom: 2px solid #444;
  }
  .level-done-by-computer {
    border-left: 2px solid #660;
    border-bottom: 2px solid #660;
  }
  @media only screen and (max-width: 600px) {
    .header-wrapper {
      max-width: 500px;
    }
  }

  @media only screen and (max-width: 500px) {
    .header-wrapper {
      width: 100%;
    }
  }



/* 
  Main
*/

@keyframes target-el__keyframe {
  0%{opacity:0.8;}10%{opacity:0.1;}20%{opacity:0.9;}30%{opacity:0.1;}40%{opacity:0.9;}50%{opacity:0.1;}100%{opacity:1;}
}
@keyframes send-button__keyframe {
  0%{opacity:0.8;}10%{opacity:0.1;}20%{opacity:0.9;}30%{opacity:0.1;}40%{opacity:0.9;}50%{opacity:0.1;}100%{opacity:1;}
}
@keyframes wrong-result__keyframe {
  0%{opacity:0.8;background-color: #f00;transform:translate(6px,0px);}10%{opacity:0.1;transform:translate(-6px,0px);}20%{opacity:0.9;transform:translate(6px,0px);}30%{opacity:0.1;transform:translate(-6px,0px);}40%{opacity:0.9;transform:translate(6px,0px);}50%{opacity:0.1;}100%{opacity:1;}
}
@keyframes letter-typing__keyframe {
  0%{opacity:0;transform:translate(0px,3px);}100%{opacity:1;}
}

.main-container {
  display: block;
  position: relative;
  height: 92vh;
  background-color: #ccc;
}
.greetings-animation {
  display: none;
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(255,255,255,.8);
  top: calc(50% - 500px/2);
  left: calc(50% - 500px/2);
  z-index: 100;
  border-radius: 10px;
  animation-name: target-el__keyframe;
  animation-duration: 1s;
}
.new-game-btn {
  display: block;
  position: absolute;
  color: #bbb;
  text-align: center;
  bottom: 30px;
  background: #333;
  width: 160px;
  height: 22px;
  left: calc(50% - 160px/2);
  cursor: pointer;
}
.levels-menu {
  position: relative;
  top: 28px;
  max-width: 500px;
  margin: 0 auto;
}
.level-item {
  display: block;
  color: #aaa;
  height: 20px;
  margin: 0 1px 0 1px;
  cursor: pointer;
}
.current-level {
  background-color: #333;
}
.close-menu-btn {
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  width: fit-content;
  padding: 3px;
  font-size: 2em;
  color: #999;
  cursor: pointer;
  transition: all .2s;
}
.close-menu-btn:hover {
  color: #fff;
}
.dell-results-btn {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 30px;
  background: #333;
  width: 160px;
  height: 22px;
  left: calc(50% - 160px/2);
  cursor: pointer;
}
.block-example {
  position: relative;
  top: 0px;
  width: 100%;
  height: 46vh;
  background-color: #bbb;
  text-align: center;
}
.task-description {
  width: 500px;
  margin: 10% auto;
}

@media only screen and (max-height: 1100px) {
  .block-example {
    height: 450px;
  }
}

@media only screen and (max-height: 990px) {
  .block-example {
    height: 350px;
  }
  .task-description {
    margin: 3% auto;
  }
}

@media only screen and (max-height: 880px) {
  .block-example {
    height: 46vh;
  }
  .task-description {
    margin: 0% auto;
  }
}

/* 
  Schema Container
*/

  .schema-container {
    display: block;
    position: absolute;
    left: calc(50% - 300px/2);
    bottom: 20px;
    width: 300px;
    height: 200px;
    background-color: #444;
  }

    .hide-hinter {
      display: none;
    }
    .show-hinter {
      display: block;
    }
    .hint {
      display: none;
      position: absolute;
      background-color: #fff;
      height: 20px;
      width: fit-content;
      top: calc();
      z-index: 1;
      overflow: visible;
    }      
    .hint::after {
      content: '';
      position: absolute;
      top: 18px;
      left: 20px;
      height: 0px;
      width: 0px;
      transform: rotate(15deg);
      border-top: 18px solid #fff;
      border-left:  5px solid rgba(0,0,0,0);
      border-right:  5px solid rgba(0,0,0,0);
    }
    .parcel-box {
      display: block;
      position: relative;
      left: calc(50% - 200px/2);
      width: 200px;
      height: 200px;
      background-color: #555;
    }
      .item-help {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #aaa;
        transition: .2s all;
        cursor: pointer;
      }
      .hovered {
        box-shadow: 0 0 0 6px rgba(255,255,255,.8);
      }
      .letter {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 14px solid #aaa;
        border-top: 14px solid #fff;
        transition: .2s all;
        cursor: pointer;
      }
      .item-inner {
        top: 5px;
        left: 5px;  
      }
      .item-0 {
        top: 5px;
        left: 5px;  
      }
      .item-1 {
        top: 5px;
        left: 40px;  
      }
      .item-2 {
        top: 5px;
        left: 95px;  
      }
      .wrap {
        display: block;
        position: absolute;
        width: 41px;
        height: 41px;
        background-color: rgba(255,255,255,.8);
      }
      .wrap-shift-0 {
        top: 2px;
        left: 2px;
      }
      .wrap-shift-1 {
        top: 2px;
        left: 44px;
      }
      .wrap-shift-2 {
        top: 2px;
        left: 87px;
      }
      .wrap-shift-3 {
        top: 2px;
        left: 130px;
      }



.editor-field-container {
  display: block;
  position: relative;
  height: 46vh;
}
.editor-field-wrapper{
  display: block;
  position: absolute;
  width: 500px;
  height: 300px;
  top: calc(50% - 300px/2);
  left: calc(50% - 500px/2);
}
.first-code-item {
  cursor: pointer;
}
.code-item {
  width: fit-content;
}
.block-css-editor {
  display: block;
  position: relative;
  width: 500px;
  height: 60px;
  left: calc(50% - 500px/2);
  background-color: #eee;
  margin-top: 10px;
}
  .letter-animated {
    display: inline-block;
    animation-name: letter-typing__keyframe;
    animation-duration: 0.1s;
  }
  .hidden-symbol {
    color: rgba(255,255,255,0);
  }
  .send-selector-field{
    display: inline-block;
    background: none;
    border: none;
    height: 30px;
    width: 85%;
    position: relative;
    font-size: 16px;
    padding-left: 5px;
  }
  .send-button-wrong-animated {
    animation-name: send-button__keyframe;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
  }
  .selector-send-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background-color: #aaa;
    text-align: center;
    line-height: 3.5em;
    cursor: pointer;
  }
  .send-button-animated {
    animation-name: send-button__keyframe;
    animation-duration: 0.7s;
  }
  .wrong-result-animated {
    animation-name: wrong-result__keyframe;
    animation-duration: 0.7s;  
  }
  .right-answer{
    display: none;
    position: absolute;
    width: 120px;
    height: 120px;
    background: #0f0;
    z-index: 100;
    border-radius: 50%;
    top: calc(50% - 120px/2);
    left: calc(50% - 120px/2);
  }
  .right-answer::after {
    content: '';
    position: absolute;
    width: 54px;
    height: 30px;
    transform: rotate(-45deg) translate(3px, 44px);
    border-left: 8px solid #fff;
    border-bottom: 8px solid #fff;
  }


.block-html-code {
  display: block;
  position: relative;
  width: 500px;
  height: 200px;
  left: calc(50% - 500px/2);
  margin-top: 10px;
  background-color: #eee;
  overflow-y: scroll;
  font-size: 14px;
}
.target-el-animated {
  animation-name: target-el__keyframe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.back-light {
  color: #444;
  cursor: pointer;
  transition: .3s all;
}
.highlight-code-blue {
  color:blue;
}
.back-light-hovered{
  color: #aaa;
  background-color: #555;
}
.help-btn {
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px/2);
  width: 100px;
  height: 30px;
  line-height: 1.9em;
  background-color: #999;
  cursor: pointer;
  text-align: center;
}
.block-info-level {
  display: none;
  position: absolute;
  top: 30px;
  right: 300px;
  width: 100px;
  height: 400px;
  background-color: #fff;
}

@media only screen and (max-width: 500px) {
  .editor-field-wrapper{
    width: 100%;
    left: 0; 
  }
  .block-css-editor {
    width: 100%;
    left: 0;
  }
  .block-html-code {
    width: 100%;
    left: 0;
  }
  .levels-menu {
    width: 100%;
  }
  .task-description{
    width: 100%;
  }
}


@media only screen and (max-height: 745px) {
  .editor-field-wrapper {
    height: 222px;
  }
  .block-html-code {
    height: 120px;
  }
  .schema-container{
    top: initial;
    bottom: 0;
  }
  .help-btn {
    bottom: 10px;
  }
}

/* 
  Footer
*/

.footer-container {
  display: block;
  position: relative;
  height: 5vh;
  bottom: 0;
  width: 100%;
  background-color: #222;
}
  .footer-wrapper{
    position: relative;
    width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .footer-item {
    display: block;
    position: absolute;
    height: 20px;
    top: calc(50% - 20px/2);
    font-size: 14px;
    font-family: "Tahoma";
    text-align: center;
    color: #777;
    text-decoration: none;
    cursor: pointer;
  }
  .footer-info {
    left: 40px;
  }
  .github-img {
    position: absolute;
    right: 57px;
    width: 30px;
    height: 30px;
    top: calc(50% - 30px/2);
  }
  .footer-link {
    right: 0;
    width: 60px;
  }
  .footer-year {
    left: calc(50% - 46px/2);
    width: 46px;
  }
  #Layer_1 {
    display: block;
    position: absolute;
    top: calc(50% - 30px/2);
    left: 0;
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 5px;
  }

  @media only screen and (max-width: 600px) {
    .footer-wrapper {
      max-width: 500px;
    }
  }

  @media only screen and (max-width: 500px) {
    .footer-wrapper {
      width: 100%;
    }
  }
