/* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}
/* Prevents IE11 from highlighting tiles in blue */
.leaflet-tile::selection {
	background: transparent;
}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast;
	}
/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
	max-width: none !important;
	max-height: none !important;
	}

.leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
	}
.leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pinch-zoom;
	/* Fallback for FF which doesn't support pinch-zoom */
	touch-action: none;
	touch-action: pinch-zoom;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: none;
	touch-action: none;
}
.leaflet-container {
	-webkit-tap-highlight-color: transparent;
}
.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	z-index: 800;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

.leaflet-pane         { z-index: 400; }

.leaflet-tile-pane    { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane  { z-index: 500; }
.leaflet-marker-pane  { z-index: 600; }
.leaflet-tooltip-pane   { z-index: 650; }
.leaflet-popup-pane   { z-index: 700; }

.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg    { z-index: 200; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
	will-change: opacity;
	}
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}
.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change: transform;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: none;
	   -moz-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-interactive {
	cursor: pointer;
	}
.leaflet-grab {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:         grab;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:         grabbing;
	}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
	pointer-events: none;
	}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}

/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
	}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 22px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(assets/images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(assets/images/layers-2x.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}

/* Default icon URLs */
.leaflet-default-icon-path {
	background-image: url(assets/images/marker-icon.png);
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover {
	text-decoration: underline;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	-ms-zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}


/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
.leaflet-tooltip.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
	}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
	}

/* Directions */

.leaflet-tooltip-bottom {
	margin-top: 6px;
}
.leaflet-tooltip-top {
	margin-top: -6px;
}
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
	}
.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
	}
.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
	}
.leaflet-tooltip-left {
	margin-left: -6px;
}
.leaflet-tooltip-right {
	margin-left: 6px;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
	}
.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
	}
.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
	}

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#000;
  overflow-x: hidden;
}
::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:0px
  }
  
  ::-webkit-scrollbar-track {
  background-color:#7e7b7b;
  box-shadow:0px 0px 3px #000 inset;
  }
  
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 2px;
  background-color:#1c1b1b;
  box-shadow:0px 0px 1px rgb(186, 184, 184) inset;
  background-image:url('https://yraaa.ru/_pu/24/59610063.png');
  background-position:center;
  background-repeat:no-repeat;
  }
  
  ::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:0px
  }
  
  ::-webkit-scrollbar{
  width: 6px;
  }
h3{
  text-align: center;
  font-size: 16px;
  color: #FFF;
  line-height: 20px;
  margin-bottom: 10px;
}
.header {
  width: 100vw;
  height: 60px;
  background-color: #363535;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 60px;
  color: #fff;
}
.header .dashboard {
  display: flex;
  align-items: center;
  font-size: 36px;
  letter-spacing: 2px;
  opacity: 0.7;
}
.main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 120px);
}
.main > .left, .main > .map, .main > .right{
  margin: 10px;
}
.main .left {
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #FFF;
}
.main .left .global-cases{
  background-color: #232323;
  height: 30%;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}
.main .left .global-cases h3{
  width: 100%;
}
.main .left .cases-list h3 p select.chosen-field{
  width: 100%;
}
.main .left .global-cases .all-cases{
  color: rgb(184, 16, 16);
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.cases-list{
  background-color: #232323;
  height: 70%;
  position: relative;
  overflow-y: auto;
}

.main .left .cases-list h3{
  position: sticky;
  top: 0;
  background-color: #232323;
}

.main .left .cases-list .country-list-data{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.main .left .cases-list .country-list-data .country-list-data-unit{
  font-size: 16px;
  line-height: 30px;
  border-bottom: solid 1px rgb(130, 126, 126);
  padding-left: 5px;
  width: 100%;
}
.main .left .cases-list .country-list-data .country-list-data-unit:hover{
  cursor: pointer;
  background-color: #3c3c3c;
  font-weight: bold;
}
.main .left .cases-list .country-list-data .country-list-data-unit .number{
  color:rgb(184, 16, 16);
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
}
.main .left .cases-list .country-list-data .country-list-data-unit .country{
  color: #FFF;
}
.map {
  width: 55%;
  background-color: #232323;
  position: relative;
}
.main .map .leaflet-control{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}
.main .map .leaflet-control div{
  display: flex;
}
.main .map .leaflet-control .legend-name{
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  color: #aaa;
}
.main .map .leaflet-control .legend-mark{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
}
.main .map .leaflet-control .legend-mark-value{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #aaa;
}
.main .right {
  width: 25%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main .right {
  width: 25%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.right-table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  background-color: #232323;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}
.main .right .right-table .right-table_country-cases{
  display: flex;
  flex-direction: column;
}
.main .right .right-table .right-table_country-cases div{
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 5px;
  color: #FFF;

}
.main .right .right-table .right-table_country-cases .table-country{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.main .right .right-table .right-table_country-cases .table-row span{
  display: inline-block;
  width: 50%;
}
.main .right .right-table .right-table_country-cases .table-row .table-key{
  color: rgb(9, 129, 9);
}
.switch .table-name, .switch .diagram-name{
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
}

.right-chart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  position: relative;

  height: 50%;
  background-color: #232323;
  padding: 20px 5px 5px 5px;
}
.switch{
  display: flex;
  justify-content: space-between;
}
.switch div{
  font-size: 20px;
  color: #FFF;
}
.switch .left-arrow:hover, .switch .right-arrow:hover{
  cursor: pointer;
  opacity: 0.5;
}

.footer {
  width: 100vw;
  height: 60px;
  background-color: #232323;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
}
.footer .logo {
  cursor: pointer;
}
.footer .logo img {
  height: 40px;
}
.footer .year a{
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
}
.footer .git-link .link {
  display: flex;
  align-items: center;
}
.footer .git-link .link .link-hrefs{
  display: flex;;
  flex-direction: column;
}
.footer .git-link .link a {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  padding-left: 5px;
}
.footer .git-link .link .link-img{
  display: flex;
  align-items: center;
}
.footer .git-link .link .link-img img {
  height: 50px;
}
@media(max-width: 1000px){
  .main .left .global-cases .all-cases{
    font-size: 30px;
  } 
}
@media(max-width: 800px){
  body{
    min-height: 1000px;
  }
  .main{
    flex-wrap: wrap;
    min-height: 1050px;
    justify-content: space-between;
  }
  .main .right{
    order: 2;
    width: 47%;
    height: 500px;
  }
  .main .left{
    order: 1;
    width: 47%;
    height: 500px;
  }
  .main .map{
    order: 3;
    width: 100%;
    height: 500px;
  }
}
@media(max-width: 700px){
  .header .dashboard{
    font-size: 30px;
  }
  .main .right{
    order: 2;
    width: 45%;
    height: 500px;
  }
  .main .left{
    order: 1;
    width: 45%;
    height: 500px;
  }
  .main .map{
    order: 3;
    width: 100%;
    height: 500px;
  }
}
.close{
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: -9px;
  right: 15px;
  z-index: 999;
}
.close:hover{
  cursor: pointer;
  opacity: 0.5;
}
.all-window{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 998;
}

.disabled{
  display: none;
}
.without-margin{
  margin: 0;
}
.height100{
  height: 100%;
}
.width100{
  width: 100%;
}
.use-keyboard-input {
  display: block;
  width: 90%;
  margin: 30px auto;
  padding: 10px;
  font-size: 20px;
  height: calc(100vh - 380px);
  min-height: 300px;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 1000;
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  position: relative;
  text-align: center;
  width: 860px;
  margin: 0 auto;
  background: #333;
  border-radius: 9px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 65px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(150, 150, 150, 0.2);
  color: #777;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  transition: background-color 0.08s;
}

.keyboard__quick-animated{
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide,
.backspace,
.enter {
  width: 12%;
  max-width: 90px;
}
.shift {
  width: 30%;
  max-width: 140px;
}

.keyboard__key--extra-wide,
.space {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  left: 10px;
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #f00;
}
.addnl{
  position: absolute;
  width: 40px;
  height: 25px;
  top: 3px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  background-color: #f0f0f0;
}
.keySoundSwitch{
  right: 33px;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center center;
	background-size: contain;
}
.speechRecognBtn{
  right: 90px;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center center;
	background-size: contain;
}
.keySoundSwitch::after{
  content: '';
  top: 4px;
  left: 4px;
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%; 
}
.speechRecognBtn::after{
  content: '';
  top: 4px;
  left: 4px;
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.speechRecognBtn--active::after {
  background: #f00;
}
.keySoundSwitch--active::after {
  background: #f00;
}
.keyboard__key--red {
  color: tomato;
}

.left::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid rgba(255,255,255,0);
  border-right: 11px solid #232323;
}
.right::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid rgba(255,255,255,0);
  border-left: 11px solid #232323;
}
#speechLang{
  position: absolute;
  right: 147px;
  color: #999;
  border-color: #999;
  border-radius: 5px;
}

@media all and (max-width: 890px) {

  .keyboard__keys{
    width: 495px;
   
  }  
  .keyboard__key{
    width: 5.5%;
    height: 30px;
  }
  .shift {
    width: 30%;
    max-width: 70px;
  }
  .caps,
  .hide{
    width: 40px;
  }
  .addnl{
    width: 35px;
    height: 20px;
  }
  .enter{
    width: 45px;
  }
  .space{
    width: 170px;
  }
  .backspace{
    width: 89px;
  }
  .keyboard__key--activatable::after {
    top: 3px;
    left: 3px;
  }
  .keySoundSwitch {
    right: 10px;
  }
  .speechRecognBtn {
    right: 50px;
  }
}

@media all and (max-width: 490px) {
  .keyboard__keys{
    width: 320px;
  } 
  .keyboard__key{
    font-size: 14px;
    width: 14px;
  }
  .backspace{
    width: 69px;
  }
  .enter{
    width: 40px;
  }
  .space{
    width: 170px;
  }
  .caps,
  .hide {
    width:35px;
  }

  .addnl{
    width: 35px;
    height: 15px;
  }
  .shift {
    width: 10%;
    max-width: 70px;
  }


  .left::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(0,0,0,.2);
    border-left: 0px;
  }
  .right::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid rgba(255,255,255,0);
    border-left: 5px solid rgba(0,0,0,.2);
    border-right: 0px;
  }

  #id_langChange{
    width: 18px;
  }
  .keySoundSwitch {
    right: 10px;
  }
  .speechRecognBtn {
    right: 50px;
  }
}
