* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #220303;
}

.header {
  width: 100vw;
  height: 80px;
  background-color: #363535;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  color: #fff;
}
.header .dashboard {
  display: flex;
  align-items: center;
  font-size: 36px;
  letter-spacing: 2px;
}
.header .burger-menu {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.header .burger-menu .line {
  width: 40px;
  height: 0;
  border: 2px solid #fff;
}

.main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 160px);
  background-color: #000;
}
.main > .left, .main > .map, .main > .right{
  margin: 10px;
  background-color: #232323;
}
.main .left {
  width: 20%;
}
.main .map {
  width: 55%;
}
.main .right {
  width: 25%;
}

.footer {
  width: 100vw;
  height: 80px;
  background-color: #232323;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}
.footer .logo {
  cursor: pointer;
}
.footer .logo img {
  height: 40px;
}
.footer .year {
  align-items: center;
  font-size: 36px;
}
.footer .git-link .link {
  display: flex;
  align-items: center;
}
.footer .git-link .link a {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  padding-left: 5px;
}
.footer .git-link .link a img {
  height: 25px;
}
